<script setup lang="ts">
import { ref } from "vue";
import { mdiHeartOutline, mdiSchool } from "@mdi/js";
const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    rating: number;
    index: number;
  }>(),
  {}
);
const showTable = ref(false);
const showTable2 = ref(false);
function school() {
  if (showTable.value == false) {
    showTable.value = true;
  } else {
    showTable.value = false;
  }
}
function fav() {
  if (showTable2.value == false) {
    showTable2.value = true;
  } else {
    showTable2.value = false;
  }
}
</script>
<template>
  <br />
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img
      src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/320934469_694873132295671_5039005311827614701_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=sJplE8-kTFcAX_fIlEb&_nc_oc=AQmYlJauWaNbqK1bkYshBEVyLFAsaxnKVo5TDT9jmSHlBtPPxo6AyMnzS_oOJkwjsGw&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfBKuzphfPL-Bfg3HnAcPGRiHhWdCwO8CNoXi6hoC2wlKQ&oe=63A50FFD"
      height="250px"
    ></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">Nontalee Samart (Bam)</div>
        <div class="text-caption">IG : bammeisterx</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn variant="flat" color="#6495ED" @click="school()">
        <FancyButton><v-icon :icon="mdiSchool" /> </FancyButton>
        School
      </v-btn>
      <v-btn variant="flat" color="#F08080" @click="fav()">
        <FancyButton><v-icon :icon="mdiHeartOutline" /> </FancyButton>
        Favorite
      </v-btn>
    </v-card-actions>
  </v-card>
  <br />
  <v-row justify="center" v-if="showTable">
    <v-col cols="6">
      <v-table>
        <thead>
          <tr>
            <th>Year</th>
            <th>School</th>
            <th>Gpa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2013</td>
            <td>Anubanchonburi</td>
            <td>3.94</td>
          </tr>
          <tr>
            <td>2019</td>
            <td>Chonkanyanukoon</td>
            <td>3.73</td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>

  <v-col v-if="showTable2">
    <h2
      class="text-center"
      style="
        color: #c65252;
        font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
      "
    >
      My Favorite
    </h2>
  </v-col>
  <v-row justify="center" v-if="showTable2">
    <v-col cols="3">
      <v-list>
        <v-list-item
          prepend-avatar="https://images.workpointnews.com/workpointnews/2021/03/22130127/1616392863_54677_S__58630183.jpg"
          title="4EVE"
          subtitle="@4eve_official"
        ></v-list-item>
      </v-list>
    </v-col>
  </v-row>
  <v-row justify="center" v-if="showTable2">
    <v-col cols="3">
      <v-list>
        <v-list-item
          prepend-avatar="https://i.scdn.co/image/ab6761610000e5eb70238a4eebeaa89a8a6cf9df"
          title="PUNYARB"
          subtitle="@punisalwayshappy"
        ></v-list-item>
      </v-list>
    </v-col>
  </v-row>
  <v-row justify="center" v-if="showTable2">
    <v-col cols="3">
      <v-list>
        <v-list-item
          prepend-avatar="https://i.pinimg.com/564x/9d/6f/17/9d6f17412333345636dfac61739af605.jpg"
          title="JENNA (Wednesday)"
          subtitle="@jennaortega"
        ></v-list-item>
      </v-list>
    </v-col>
  </v-row>
</template>
